/* PurchaseOrderPrint.scss */
#print-container,
.print-container,
#po-pdf {
  width: 210mm;
  // min-height: 297mm; 
  padding: 20mm;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 20px;
  /* Increased spacing below header */
}

.header .center {
  text-align: center;
  flex-grow: 1;
}

.header .center h3 {
  margin: 5px 0;
}

.header .center p {
  margin: 5px 0 15px 0;
  /* Added spacing below p */
}

.header .center h2 {
  margin: 10px 0 5px 0;
  /* Added spacing above h2 */
  //   text-decoration: underline;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* Increased spacing below section */
  border: 1px solid #000;
  padding: 10px;
}

.section .col {
  width: 32%;
}

.po-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.po-table td:nth-child(3),
.po-table th:nth-child(3) {
  width: 200px;
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
}

.po-table th,
.po-table td {
  border: 1px solid #000;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
}




.summary {
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
  border-top: 1px solid #000;
  padding-top: 10px;
}

.footer {
  margin-top: 30px;
  text-align: right;
  padding-right: 10px;
}

.footer .sign {
  margin-top: 50px;
  font-weight: bold;
  text-decoration: underline;
}

.footer .contact-note {
  margin-top: 30px;
  text-align: left;
  font-style: italic;
  font-size: 11px;
  padding-left: 10px;
}

/* Selection highlight */
tr.selected {
  background-color: #eef;
  font-weight: bold;
}

.qr-section-left {
  display: flex;
  justify-content: flex-start;
  margin: 30px 0;
}

.qr-wrapper {
  text-align: left;
}